.head-gallery {
  height: 183vh;
}
.three-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:#082f49; 
  padding: 2rem;
  }
.g1 {
  width: 400px;
  height: 300px;
}
.learning {
  font-family: 'Poppins', sans-serif;
  font-size: 7ch;
}
.group-1 {
  position: relative;
}

.palce {
  width: 1000px;
  height: 200px;
  background-color:#082f49; 
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-top: 1rem;
}
.palce p {
  font-size: 4.5ch;
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
}
.g4 {
  height: 400px;
  width: 400px;
  position: absolute;
  /* bottom: 0px; */
  top: 4rem;
  left: 1rem;
}
.lorem {
  width: 500px;
  height: 150px;
  background-color: rgb(48, 121, 255);
  position: absolute;
  left: 30rem;
  bottom: -4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.main-seminar {
  position: relative;
}
.seminar {
display: flex;
align-items: flex-end;
justify-content: flex-end;
}
.seminar p {
  width: 600px;
  height: 200px;
  background-color:#082f49; 
  color: white;
  font-size: 5ch;
  font-family: 'Poppins', sans-serif;
  padding-left: 1rem;
  padding-top: 1rem;
}
.g5 {
  width: 350px;
  height: 450px;
  margin-top: 12rem;
}
.seminar-para {
  width: 500px;
  height: 150px;
  background-color: rgb(48, 121, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
  left: 43rem;
  bottom: 5rem;
}
.image-container {
  position: relative;
  margin: 10px;
  display: inline-block;
  
}

.details-overlay {
  position: absolute;
  top: 9rem; /* Position the overlay at the vertical center of the image */
  left: 9rem; /* Position the overlay at the horizontal center of the image */
  transform: translate(-1%,-50%); /* Center the overlay perfectly */
  background-color:#082f49;
  color: white;
  padding: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  transition-duration:opacity  1s;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;

}   

.image-container:hover .details-overlay {
  display: flex;
  opacity: .9;
  transition: 1s !important;

}

.three-img img:hover {
  opacity: 0.5;
  /* /*transition: 1s; */
   /* Decrease the opacity of the image when hovered */
}

.details-overlay p {
  color: white;
  transition: 1s !important;
}

.fade-in{
  animation-name: fadein;
  animation-duration: 1s;
}
@keyframes fadein {
    from {
        transform: translateX(-100px);
        opacity: 0.1;
        transition: 2s;
      }
      to {
        transform: translateX(0px);
      }
}