
.text h1 {
    text-align: right;
    font-size: 5ch;
    margin: 1rem;
    color: skyblue;
    padding-right: 15rem;
}

.head-contact {
    background: linear-gradient(to right, rgb(3, 37, 76), rgb(20, 100, 180), rgb(3, 37, 76));
    position: relative;
}
.contact {
    display: flex;
    justify-content: space-around;
    position: relative;
    /* height: 61vh; Set the height to 100% of the viewport height */
}

.two-person {
    display: flex;
    align-items: flex-end;
}
.man {
    width: 400px;
    height: 500px;
}
.girl {
    position: absolute;
    left: 29rem;
    /* bottom: 10rem; */
    /* top:rem; */
    width: 350px;
    height: 500px;
}
.input-name {
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Inria Sans", sans-serif;

}
.input-1 {
    width: 300px;
    padding: .5rem;
    border-radius: 20px;
    margin: .5rem 0px;
    color: black;
}
.text-area {
    border-radius: 20px;
    margin: .5rem 0px;
    color: black;
    width: 300px;
    height: 100px;
    padding: .5rem;
}
.btn {
    padding: .5rem;
    background-color: rgb(2, 2, 103);
    color: white;
    font-family: "Inria Sans", sans-serif;
    margin: 1rem;
    border-radius: 10px;
    width: 200px;
}
.app {
    background-color:rgb(17, 103, 307);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    top: 4rem !important;
    left :-8rem;

}
.class {
    margin-right: 10rem;
}


