@media only screen and (min-width: 1025px) and (max-width: 1280px) {

.siva  h1{
    margin: 0 !important;
    font-weight: 400;
    font-size: 4.5ch !important;
    margin-right: 30rem;
}

.head-name {
    color: rgb(2, 106, 167);
    display: flex !important; 
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0 !important;
}

#about-container{
    padding: 1rem !important;
}

.text-about {
    
    left: 6.1rem !important
}

.teacher{
    margin:0 !important;
    margin-left: 2rem !important;
    align-items: flex-start !important;
    

}

.teacher-img{
    padding-top: 2rem;;

}

.steve{
    left: 47rem !important;

}

.choose h2{
    font-family: "Jost", sans-serif;
    font-size: 8ch;
    padding-left: 1rem !important;
    padding-top: 1rem !important;

}

.question-2{

    width: 6rem;
    position: absolute;
    bottom: 30rem;
    left: 63rem !important;

}

.question {
        width: 10rem;
        position: absolute;
        bottom: 30rem;
        left: 65rem !important;
    }

 .question-1{
    width: 10rem;
        position: absolute;
        bottom: 30rem;
        left: 71rem !important;

 }   

 .team-manager {
    width: 50rem !important;
    height: 650px ;
}

.live-stream {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    margin-right: 13rem !important;
    padding-top: 2rem !important ;
    gap: 10px !important;
}

.small-ball-3 {
    
    /* top: 1rem; */
    right: 0rem !important ;
    bottom: 33rem  !important;
    background-color: rgb(2, 33, 80) !important;
    height: 180px !important;
    width: 180px !important;
    border-radius: 50% !important;
}

.small-ball-2 {
    
    /* top: 1rem; */
    left: 60.2rem !important;
    bottom: 25rem !important;
    background-color: rgb(0, 102, 255) !important;
    height: 100px !important;
    width: 100px !important;
    border-radius: 50% !important;
}

.small-ball-4 {
    
    /* top: 1rem; */
    left: 60.2rem !important;
    bottom: 22rem !important;
    background-color: rgb(0, 102, 255) !important;
    height: 100px !important; 
    width: 100px !important;
    border-radius: 50% !important;

}

.small-ball-6 {
    
    /* top: 1rem; */
    left: 60.2rem !important;
    bottom: 38rem !important;
    background-color: rgb(0, 102, 255) !important;
    height: 100px !important;
    width: 100px !important;
    border-radius: 50% !important;

}

.small-ball-5 {
    
    /* top: 1rem; */
    right: 1.2rem !important;
    bottom: 30rem  !important ;
    background-color: rgb(2, 33, 80) !important;
    height: 250px !important;
    width: 250px !important;
    border-radius: 50% !important;
}

.small-ball-7 {
    position: absolute;
    /* top: 1rem; */
    right: 1rem !important;
    bottom: 45rem !important;
    background-color: rgb(2, 33, 80) !important;
    height: 250px !important;
    width: 250px !important;
    border-radius: 50% !important;
}

.person {
    width: 300px !important;
    /* margin-top: 1rem; */
    /* margin-bottom: 5rem; */
    margin-right: 1rem !important;
}

.main-home{
    height: 750vh !important;
}

.heart {
    margin-left: 5rem !important;
    margin-top: 0 !important;
    border-radius: 20px !important;
    width: 700px !important;
}





.experts {
    font-size: 5ch !important;
    font-weight: 700 !important;
    font-family: "Poppins", sans-serif !important;
    margin-top: -5rem !important;
}  

.phone {
    margin-left: 5rem !important;
    margin-top: 0 !important;
    border-radius: 20px !important;
    width: 700px !important;
    height: 366px;
}


    .body-cell {
        background-image: url(/src/assets/dna-img.jpeg) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100%!important ;
        height: 60rem !important;
        padding: 0 !important;
        display: flex !important;
        overflow: auto !important;
        flex-direction: column !important;

    } 
    
    .neet-cell{
        height: 159vh !important;

    }

    .corse-title{
        flex-direction: column !important;
    }

    .course-img{
        width: 400px !important;
    }

    .style{
        margin-right: 1rem !important;
    }
.wrapper{

    padding: 0 !important;

    
}


    .girl {
        position: absolute !important;
        left: 22rem !important;
        bottom: 1rem;
        width: 500px;
        height: 700px;
    }


}







